<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Поставщик -->
    <add key="provider" value="System.Data.SqlClient" />
    <!-- Строка подключения -->
    <add key="cnStr" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EmployeesDB;Integrated Security=True;Pooling=False" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>